<form action="/artists-search" method="GET">

  <label for="search"></label>
  <input
    type="text"
    name="theArtistName"
    placeholder="Search for an artist"
    id="artist"
  />
  <button type="submit">Search for an Artist</button>

</form>